
.flexCon {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.carousel {
  position: relative;
  height: 300px;
  width: 600px;
  border-radius: 15px;
}
.leftBtn,
.rightBtn {
  position: relative;

}


#thumb-container {
  margin-top: 10px;
}
