
.flexCon {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.carousel {
  position: relative;
  height: 300px;
  width: 600px;
  border-radius: 15px;
}
.leftBtn,
.rightBtn {
  position: relative;

}


#thumb-container {
  margin-top: 10px;
}

h1 {
	font-family: MedievalSharp;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}
h3 {
	font-family: MedievalSharp;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.4px;
}
p {
	font-family: MedievalSharp;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
}
blockquote {
	font-family: MedievalSharp;
	font-size: 21px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 30px;
}
pre {
	font-family: MedievalSharp;
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 18.5714px;
}
